// colors primary
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);

//paragraphs
$transparentWhite: hsla(0, 0%, 100%, 0.75);

//background, headings, buttons
$veryLightGray: hsl(0, 0%, 95%);

//fonts
$bigText: "Big Shoulders Display", sans-serif;
$smallText: "Lexend Deca", sans-serif;

html{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: $veryLightGray;
}


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.container{
    @include flexCenter(column);
    height: 100%;
    margin: 3.125rem 0rem 3.125rem 0rem;
    padding: 0;

    
    // background-color: lightseagreen;
    
}

.container h1{
    color: $veryLightGray;
    padding-top: 3.125rem;
    padding-left: 1.875rem;
    font-family: $bigText;
    font-size: 1.563rem;
}

.container div p{
    font-family: $smallText;
    font-weight: 400;
    margin: 0;
    padding: 0 1.875rem 0 1.875rem;
    color: $transparentWhite;
    font-size: 0.75rem;
}

.container div{
    border: none;
    width: 90%;
    flex: 1;
    
    
}

@mixin imgPosition(){
    background-repeat: no-repeat;
    background-position: top 1.063rem left 1.563rem;
    background-size: 3.125rem;
}


.sedans{
    background-color: $brightOrange;
    background-image: url(/images/icon-sedans.svg);
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    @include imgPosition();

}

.suv{
    background-color: $darkCyan;
    background-image: url(/images/icon-suvs.svg);
    @include imgPosition();
}

.luxury{
    background-color: $veryDarkCyan;
    background-image: url(/images/icon-luxury.svg);
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    @include imgPosition();
}

button{
    font-weight: 400;
    margin-left: 3.125rem; //50px
    margin-top: 2.188rem;  //35px
    margin-bottom: 0.625rem;
    border-radius: 1.875rem;
    padding: 0.938rem;
    width: 9.375rem;
    border: none;
    font-family: $smallText;
}

.button1{
    color: $brightOrange;
}

.button2{
    color: $darkCyan;
}

.button3{
    color: $veryDarkCyan;
}

button:hover{
    cursor: pointer; 
    background-color: transparent;
    color: $veryLightGray;
    border: 2px solid $veryLightGray;
}

.attribution{
    display: inline-block;
    color: black;
    align-self: center;
    height: auto;
    margin: 0;
    padding: 0;
  }

 
 
 
 
 
  //*************** AFTER MOBILE***************
 






 
@media screen and (min-width: 50rem) {



    html{
        margin: 0;
        padding: 0;
    }
    
    body{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: $veryLightGray;
    }
    
    
    @mixin flexCenter($direction) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: $direction;
    }
    
        
    .container{
        @include flexCenter(row);
        height: 100%;
        margin: 3.125rem 16.25rem;
        padding: 0;
    }

    .container div{
        width: 90%;
        flex: 1;
        height: 31.813rem;
    }

    .container h1{
        color: $veryLightGray;
        margin-top: 3.75rem;
        padding-left: 1.875rem;
        font-family: $bigText;
        font-size: 2.5rem;
    }
    
    .container div p{
        font-family: $smallText;
        font-weight: 400;
        margin: 0;
        padding: 0.625rem 1.875rem 0.625rem 1.875rem;
        color: $transparentWhite;
        font-size: 0.938rem;
    }


    
    @mixin imgPosition(){
        background-repeat: no-repeat;
        background-position: top 1.8rem left 1.78rem;
        background-size: 4rem;
    }

    


    .sedans{
        @include imgPosition();
        height: 31.813rem;
        display:flex;
        flex-direction: column;
        background-color: $brightOrange;
        background-image: url(icon-sedans.svg);
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
        border-top-right-radius: 0;
    }

    .sedans h1, .sedans button{
        flex: none;
    }
    
    .suv{
        @include imgPosition();
        background-color: $darkCyan;
        background-image: url(icon-suvs.svg);
    }
    
    .luxury{
        @include imgPosition();
        background-color: $veryDarkCyan;
        background-image: url(icon-luxury.svg);
        border-bottom-right-radius: 0.625rem;
        border-bottom-left-radius: 0rem;
        border-top-right-radius: 0.625rem;
    }

    
    @mixin buttonPosition(){
        margin-left: 3.125rem;
        margin-top: 3.875rem;
        margin-bottom: 0.625rem;
        margin-right: 3.125rem;
        border-radius: 1.875rem;
        padding: 0.938rem;
        width: 9.375rem;
        border: none;
    }

    
    .button1{
        @include buttonPosition();
        color: $brightOrange;
    }
    
    .button2{
        margin-left: 3.125rem;
        margin-top: 5.15rem;
        margin-bottom: 0.625rem;
        margin-right: 3.125rem;
        border-radius: 1.875rem;
        padding: 0.938rem;
        width: 9.375rem;
        border: none;
        color: $darkCyan;
    }
    
    .button3{
        @include buttonPosition();
        color: $veryDarkCyan;
    }
    

}

//********* BREAKPOINTS FOR BUTTON POSITIONING *****************

@media screen and (min-width: 79.688rem){
    .button3{
        margin-top: 2.625rem;
    }
    .button2{
        margin-top: 3.9rem;
    }
}

@media screen and (min-width: 80.75rem){
    .button3{
        margin-top: 3.8rem;
    }
}

@media screen and (min-width: 88.375rem){
    .button3{
        margin-top: 5rem;
    }
}

@media screen and (min-width: 88.875rem){
    .button1{
        margin-top: 5.05rem;
    }
}

@media screen and (min-width: 90.563rem){
    .button2{
        margin-top: 5.1rem;
    }
}

@media screen and (min-width: 99.875rem){
    .button1{
        margin-top: 6.25rem;
    }
}

@media screen and (min-width: 102.688rem){
    .button2{
        margin-top: 6.25rem;
    }
}

@media screen and (min-width: 103.125rem){
    .button3{
        margin-top: 6.2rem;
    }
}